@model PizzaFormModel


<div class="container">
    <h2 class="text-center mt-3">Modifica la pizza @Model.Pizza.Nome!</h2>
    <form class="p-5" method="post" asp-action="Update" asp-controller="Pizza">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Pizza.Nome" class="form-label">Nome Pizza</label>
            <input type="text" class="form-control" asp-for="Pizza.Nome" placeholder="Inserisci il nome della pizza">
            <span asp-validation-for="Pizza.Nome" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.Descrizione" class="form-label">Descrizione della pizza</label>
            <input type="text" class="form-control" asp-for="Pizza.Descrizione" placeholder="Es. pomodoro, mozzarella...">
            <span asp-validation-for="Pizza.Descrizione" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.Foto" class="form-label">Foto della pizza</label>
            <input type="text" class="form-control" asp-for="Pizza.Foto" placeholder="url o percorso foto...">
            <span asp-validation-for="Pizza.Foto" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.Prezzo" class="form-label">Prezzo</label>
            <input type="number" class="form-control" asp-for="Pizza.Prezzo" placeholder="Es. 5€" step="0.01">
            <span asp-validation-for="Pizza.Prezzo" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pizza.CategoriaId" class="form-label">Categoria</label>
            <select class="form-select" asp-for="Pizza.CategoriaId">
                <option value="0"></option>
                @foreach (var categoria in Model.Categories)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>
            <span asp-validation-for="Pizza.CategoriaId" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SelectedIngridients">Ingredienti</label>
            <select asp-for="SelectedIngridients" class="form-select" multiple="multiple" asp-items="@Model.Ingridients"></select>
        </div>
        <button type="submit" class="btn btn-primary">Salva</button>
    </form>
</div>